datasets/**/*.csv filter=lfs diff=lfs merge=lfs -text
datasets/**/*.xlsx filter=lfs diff=lfs merge=lfs -text
datasets/**/*.png filter=lfs diff=lfs merge=lfs -text
pulled_remote_models/**/*.pt filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
